


.HeaderTitle{
  text-align: center;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic ;
  background-color: #740001;
  padding: 10px;
  border: #d3a625 solid 5px;
  border-radius: 10px;
  color: rgb(42, 41, 41);
 
}
.main{
  background-color:rgb(65, 62, 62);
  border-radius: 10px;
  height:auto;
  padding-bottom: 50px;
  
}
.btnReset{
  border: #740001 solid 3px;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}