.formName{
    padding: 15px;
    color: white;
    font-size: 18px;
}
.formLabel{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    padding-right: 5px;
    margin-right: 5px;
}
.inputChar{
    margin-left: 10px;
    border: #740001 solid 3px;
  
}