.listCha{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto; 
   

}
.listSection{
   width: auto; 
  margin-right: 35px;
  
   
}
.errorMsj{
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;

}